<%- include("partials/header.ejs") %>

    <div class="mb-5 py-4 mx-auto" style="width: 450px">
    
    <%# A form that submits on button press between the Edit & Delete button. %>
    <form action="/history" method="post">
    
    <%# If there is a username and messages, and if there is history... %>    
    <% if((locals.username && locals.messages) && locals.history === true){ %>
        <br>
        
        <h1 class="text-center">History</h1>

        <br>

        <%# Display all comments in messages with card elements.
            Username, messages, and history are labeled in index.js %>
        <% for(let i = 0; i < messages.length; i++) {%>
      
          <div id="messageH" class="card d-flex flex-row comment-row mt-5 cards" style="width: 450px;"> 
            <div class="card-body comment-text active w-100"> 
                  <h6 class="font-medium">  </h6> 
                  <span id="message" class="m-b-15 d-block"> <%= messages[i] %> </span>
                <div class="comment-footer mt-1"> <%= username %> <span class="text-muted float-right"><%= new Date().toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"}) %></span> 
                  <button type="submit" class="btn btn-cyan btn-sm btn-primary" name="edit" value="<%= messages[i] %>">Edit</button>
                  <button type="submit" class="btn btn-danger btn-sm" name="delete" value="<%= messages[i] %>">Delete</button>     
                </div>
          </div>
          </div> 
        
        <% } %>
    
        <%# Else, there is no history. %>
    <% } else { %>

        <br>

        <h1 class="text-center">No History</h1>
    <% } %>
      
    </form>
    
    </div>

<%- include("partials/footer.ejs") %>